<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- 编码过滤 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>cn.yechen.crm.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <!-- 登录过滤 -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>cn.yechen.crm.web.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>cn.yechen.crm.web.listener.SysInitListener</listener-class>
    </listener>

    <!-- 用户控制器 -->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>cn.yechen.crm.settings.web.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/setting/user/login.do</url-pattern>
    </servlet-mapping>

    <!-- 市场活动控制器 -->
    <servlet>
        <servlet-name>ActivityController</servlet-name>
        <servlet-class>cn.yechen.crm.workbench.web.controller.ActivityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivityController</servlet-name>
        <url-pattern>/workbench/activity/getUserList.do</url-pattern>
        <url-pattern>/workbench/activity/saveActivity.do</url-pattern>
        <url-pattern>/workbench/activity/pageList.do</url-pattern>
        <url-pattern>/workbench/activity/deleteActivities.do</url-pattern>
        <url-pattern>/workbench/activity/getUserListAndActivity.do</url-pattern>
        <url-pattern>/workbench/activity/updateActivity.do</url-pattern>
        <url-pattern>/workbench/activity/getDetail.do</url-pattern>
        <url-pattern>/workbench/activity/getRemarkListByAId.do</url-pattern>
        <url-pattern>/workbench/activity/deleteRemarkById.do</url-pattern>
        <url-pattern>/workbench/activity/updateRemark.do</url-pattern>
        <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
    </servlet-mapping>

    <!-- 线索控制器 -->
    <servlet>
        <servlet-name>ClueController</servlet-name>
        <servlet-class>cn.yechen.crm.workbench.web.controller.ClueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClueController</servlet-name>
        <url-pattern>/workbench/clue/getUserList.do</url-pattern>
        <url-pattern>/workbench/clue/saveClue.do</url-pattern>
        <url-pattern>/workbench/clue/pageList.do</url-pattern>
        <url-pattern>/workbench/clue/detail.do</url-pattern>
        <url-pattern>/workbench/clue/getActivityListByClueId.do</url-pattern>
        <url-pattern>/workbench/clue/deleteRelation.do</url-pattern>
        <url-pattern>/workbench/clue/getActivityListByNameAndClueId.do</url-pattern>
        <url-pattern>/workbench/clue/boundActivityAndClue.do</url-pattern>
        <url-pattern>/workbench/clue/getActivityListByName.do</url-pattern>
        <url-pattern>/workbench/clue/convert.do</url-pattern>
        <url-pattern>/workbench/clue/getUserListAndClue.do</url-pattern>
    </servlet-mapping>

    <!-- 交易控制器 -->
    <servlet>
        <servlet-name>TranController</servlet-name>
        <servlet-class>cn.yechen.crm.workbench.web.controller.TranController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TranController</servlet-name>
        <url-pattern>/workbench/transaction/add.do</url-pattern>
        <url-pattern>/workbench/transaction/getContactsListByFullName.do</url-pattern>
        <url-pattern>/workbench/transaction/getActivityListByName.do</url-pattern>
        <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
        <url-pattern>/workbench/transaction/saveTransaction.do</url-pattern>
        <url-pattern>/workbench/transaction/pageList.do</url-pattern>
        <url-pattern>/workbench/transaction/detail.do</url-pattern>
        <url-pattern>/workbench/transaction/getTranHistoryListByTranId.do</url-pattern>
        <url-pattern>/workbench/transaction/changeStage.do</url-pattern>
        <url-pattern>/workbench/transaction/getCharts.do</url-pattern>
    </servlet-mapping>
</web-app>
